.chainHead {
  text-align: center;
}

.itemListlabels {
  display: flex;
  justify-content: space-between;
}

.itemListlabels p {
  width: 50%;
}

.targetItem {
  border: 1px solid green;
  background-color: #D7EDD7;
}